body{
    background:url("img/bg-01.png");
	background-repeat: no-repeat;
    background-size: cover;
}
button{
  position:relative;
  margin-top:4vh;
  margin-left:7vw;
  Padding:10px 20px;
}
#kar{
  position:relative;
  float:left;
  margin-left:35rem;
  width: 60vw;
}
@media (max-width: 600px) {
    body {
      background:url("img/bg2-01.jpg");
	background-repeat: no-repeat;
      background-size: cover;
    }
    button{
      position:relative;
      margin-top:4vh;
      margin-left:12vw;
      Padding:8px 15px;
    }
    #kar{
  position:relative;
  float:left;
  width: 100vw;
}
  }
